html, 
body,
.dx-viewport {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}
#btnContainer 
{
    background-color:blue;
    color:white;
    font-size:15px;
    height:20pt;
    font-weight:bold;
}